In [31]:
import pandas as pd
import os
import numpy as np

### Carregamento e Inspeção Inicial dos Dados

In [ ]:
# Carregar o dataset
df = pd.read_csv('dados_marketing.csv', sep=';')

# Verificar nulos
print(df.isnull().sum())

ID                                 0
Ano Nascimento                     0
Escolaridade                       0
Estado Civil                       0
Salario Anual                     19
Filhos em Casa                     0
Adolescentes em Casa               0
Data Cadastro                      0
Dias Desde Ultima Compra           0
Gasto com Eletronicos              0
Gasto com Brinquedos               0
Gasto com Moveis                   0
Gasto com Utilidades               0
Gasto com Alimentos                0
Gasto com Vestuario                0
Numero de Compras com Desconto     0
Numero de Compras na Web           0
Numero de Compras via Catalogo     0
Numero de Compras na Loja          0
Numero Visitas WebSite Mes         0
Compra na Campanha 1               0
Compra na Campanha 2               0
Compra na Campanha 3               0
Compra na Campanha 4               0
Compra na Campanha 5               0
Comprou                            0
Pais                               0
dtype: int64

### Tratamento de Valores Nulos

In [33]:
# Análise dos registros com 'Salario Anual' nulo
salarios_nulos = df[df['Salario Anual'].isnull()]
print(pd.DataFrame(salarios_nulos['ID']).rename(columns={'ID': 'ID com Salário Nulo'}))

      ID com Salário Nulo
134                  8996
262                  1994
394                  3769
449                  5255
525                  8268
590                 10629
899                 10475
997                  9235
1185                 7187
1312                 8557
1515                 2863
1558                 2437
1693                 5250
1804                 7281
1858                 1612
1863                 5079
1880                10339
1967                 5798
1983                 2902

In [34]:
# Remoção dos nulos
df_inicial = df.shape[0]
df = df.dropna(subset=['Salario Anual'])
df_sem_nulos = df.shape[0]
print(f'Foram removidas {df_inicial - df_sem_nulos} linhas com salário nulo.')

Foram removidas 19 linhas com salário nulo.

### Tratamento de Duplicatas

In [35]:
# Remoção de duplicatas
duplicatas = df[df.duplicated()]
soma_duplicadas = df.duplicated().sum()
df = df.drop_duplicates()
print(f'Foram removidas {soma_duplicadas} linhas duplicadas.')

Foram removidas 0 linhas duplicadas.

### Engenharia de Atributos

In [36]:
# Conversão de datas
df['Data Cadastro'] = pd.to_datetime(df['Data Cadastro'], dayfirst=True)

In [37]:
# Criação de atributos derivados da Data de Cadastro
df['Ano Cadastro'] = df['Data Cadastro'].dt.year
df['Mes Cadastro'] = df['Data Cadastro'].dt.month
df['Mes Nome Cadastro'] = df['Data Cadastro'].dt.month_name()
df['Dia Cadastro'] = df['Data Cadastro'].dt.day
df['Dia Semana Cadastro'] = df['Data Cadastro'].dt.day_name()
df['Semana Cadastro'] = df['Data Cadastro'].dt.isocalendar().week

df['Idade'] = 2025 - df['Ano Nascimento']

In [38]:
# Criação de atributos de segmentação de idade
df['Faixa Etária'] = pd.cut(df['Idade'], bins=[17,30,45,60,100], labels=['18-30', '31-45', '46-60', '60+'])

In [39]:
# Criação de atributo binário para presença ou não de filhos/adolescentes
df['Filhos'] = np.where(df['Filhos em Casa'] > 0, 1, 0) | np.where(df['Adolescentes em Casa'] > 0, 1, 0)

### Criação de Métricas Derivadas

In [40]:
# Criação de métricas derivadas de gastos
gastos = ['Gasto com Eletronicos', 'Gasto com Brinquedos', 'Gasto com Moveis',
          'Gasto com Utilidades', 'Gasto com Alimentos', 'Gasto com Vestuario']
df['Gasto Total'] = df[gastos].sum(axis=1)
compras = ['Numero de Compras com Desconto', 'Numero de Compras na Web',
           'Numero de Compras via Catalogo', 'Numero de Compras na Loja']
df['Total Compras'] = df[compras].sum(axis=1)

In [41]:
# Criação de métricas derivadas de campanhas
df['Comprou em Campanha'] = np.where(df[[c for c in df.columns if 'campanha' in c.lower()]].sum(axis=1) > 0, 1, 0)
df['Engajamento em campanhas'] = df[[c for c in df.columns if 'campanha' in c.lower()]].sum(axis=1)

In [42]:
# Descrição do dataframe após a inclusão de novas colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1981 entries, 0 to 1999
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1981 non-null   int64
 1   Ano Nascimento                  1981 non-null   int64
 2   Escolaridade                    1981 non-null   object
 3   Estado Civil                    1981 non-null   object
 4   Salario Anual                   1981 non-null   float64
 5   Filhos em Casa                  1981 non-null   int64
 6   Adolescentes em Casa            1981 non-null   int64
 7   Data Cadastro                   1981 non-null   datetime64[ns]
 8   Dias Desde Ultima Compra        1981 non-null   int64
 9   Gasto com Eletronicos           1981 non-null   int64
 10  Gasto com Brinquedos            1981 non-null   int64
 11  Gasto com Moveis                1981 non-null   int64
 12  Gasto com Utilidades            1981 non-null   int64
 13  Gasto com Alimentos             1981 non-null   int64
 14  Gasto com Vestuario             1981 non-null   int64
 15  Numero de Compras com Desconto  1981 non-null   int64
 16  Numero de Compras na Web        1981 non-null   int64
 17  Numero de Compras via Catalogo  1981 non-null   int64
 18  Numero de Compras na Loja       1981 non-null   int64
 19  Numero Visitas WebSite Mes      1981 non-null   int64
 20  Compra na Campanha 1            1981 non-null   int64
 21  Compra na Campanha 2            1981 non-null   int64
 22  Compra na Campanha 3            1981 non-null   int64
 23  Compra na Campanha 4            1981 non-null   int64
 24  Compra na Campanha 5            1981 non-null   int64
 25  Comprou                         1981 non-null   int64
 26  Pais                            1981 non-null   object
 27  Ano Cadastro                    1981 non-null   int32
 28  Mes Cadastro                    1981 non-null   int32
 29  Mes Nome Cadastro               1981 non-null   object
 30  Dia Cadastro                    1981 non-null   int32
 31  Dia Semana Cadastro             1981 non-null   object
 32  Semana Cadastro                 1981 non-null   UInt32
 33  Idade                           1981 non-null   int64
 34  Faixa Etária                    1979 non-null   category
 35  Filhos                          1981 non-null   int64
 36  Gasto Total                     1981 non-null   int64
 37  Total Compras                   1981 non-null   int64
 38  Comprou em Campanha             1981 non-null   int64
 39  Engajamento em campanhas        1981 non-null   int64
dtypes: UInt32(1), category(1), datetime64[ns](1), float64(1), int32(3), int64(28), object(5)
memory usage: 592.2+ KB

### Padronização e Conversão de Tipos de Dados

In [43]:
# Função para padronizar tipos de dados
def padronizar_tipos_numericos(df):
    # Colunas que devem ser float64
    colunas_float = [
        'Salario Anual',
        'Gasto com Eletronicos',
        'Gasto com Brinquedos',
        'Gasto com Moveis',
        'Gasto com Utilidades',
        'Gasto com Alimentos',
        'Gasto com Vestuario',
        'Gasto Total'
    ]

    # Colunas que devem ser int64
    colunas_int = [
        'ID',
        'Ano Nascimento',
        'Filhos em Casa',
        'Adolescentes em Casa',
        'Dias Desde Ultima Compra',
        'Numero de Compras com Desconto',
        'Numero de Compras na Web',
        'Numero de Compras via Catalogo',
        'Numero de Compras na Loja',
        'Numero Visitas WebSite Mes',
        'Compra na Campanha 1',
        'Compra na Campanha 2',
        'Compra na Campanha 3',
        'Compra na Campanha 4',
        'Compra na Campanha 5',
        'Comprou',
        'Ano Cadastro',
        'Mes Cadastro',
        'Dia Cadastro',
        'Semana Cadastro',
        'Idade',
        'Filhos',
        'Total Compras',
        'Comprou em Campanha',
        'Engajamento em campanhas'
    ]

    # Aplica conversão
    for col in colunas_float:
        df[col] = df[col].astype('float64')

    for col in colunas_int:
        df[col] = df[col].astype('int64')

    return df

In [44]:
# Chama a função para efetivar a padronização
df = padronizar_tipos_numericos(df)

In [45]:
# Conversão de colunas binárias (valores 0 e 1) para Sim/Não
colunas_binarias = [col for col in df.columns
                    if df[col].dtype == 'int64' and set(df[col].unique()) <= {0, 1}]

# Converte para Sim/Não
for col in colunas_binarias:
    df[col] = df[col].map({1: 'Sim', 0: 'Não'})

### Padronização de Nomes de Colunas

In [46]:
# Padronização de nomes de colunas
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('ã', 'a').str.replace('ç', 'c').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')

In [47]:
# Verificação da padronização de colunas
print(df.columns.tolist())

['id', 'ano_nascimento', 'escolaridade', 'estado_civil', 'salario_anual', 'filhos_em_casa', 'adolescentes_em_casa', 'data_cadastro', 'dias_desde_ultima_compra', 'gasto_com_eletronicos', 'gasto_com_brinquedos', 'gasto_com_moveis', 'gasto_com_utilidades', 'gasto_com_alimentos', 'gasto_com_vestuario', 'numero_de_compras_com_desconto', 'numero_de_compras_na_web', 'numero_de_compras_via_catalogo', 'numero_de_compras_na_loja', 'numero_visitas_website_mes', 'compra_na_campanha_1', 'compra_na_campanha_2', 'compra_na_campanha_3', 'compra_na_campanha_4', 'compra_na_campanha_5', 'comprou', 'pais', 'ano_cadastro', 'mes_cadastro', 'mes_nome_cadastro', 'dia_cadastro', 'dia_semana_cadastro', 'semana_cadastro', 'idade', 'faixa_etária', 'filhos', 'gasto_total', 'total_compras', 'comprou_em_campanha', 'engajamento_em_campanhas']

### Tradução de Dias e Meses (inglês > português)

In [48]:
# Mapeamento de dias da semana do inglês para português
dias_semana = {
    'Monday': 'Segunda-feira',
    'Tuesday': 'Terça-feira',
    'Wednesday': 'Quarta-feira',
    'Thursday': 'Quinta-feira',
    'Friday': 'Sexta-feira',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

# Aplica a tradução
df['dia_semana_cadastro'] = df['dia_semana_cadastro'].map(dias_semana)

In [49]:
# Verificar se a tradução foi devidamente aplicada
print(df['dia_semana_cadastro'].unique())

['Terça-feira' 'Sexta-feira' 'Quarta-feira' 'Segunda-feira' 'Sábado'
 'Quinta-feira' 'Domingo']

In [50]:
# Mapeamento de meses do ano do inglês para português
meses_ano = {
    'January': 'Janeiro',
    'February': 'Fevereiro',
    'March': 'Março',
    'April': 'Abril',
    'May': 'Maio',
    'June': 'Junho',
    'July': 'Julho',
    'August': 'Agosto',
    'September': 'Setembro',
    'October': 'Outubro',
    'November': 'Novembro',
    'December': 'Dezembro'
}

# Aplica a tradução
df['mes_nome_cadastro'] = df['mes_nome_cadastro'].map(meses_ano)

In [51]:
# Verificar se a tradução foi devidamente aplicada
print(df['mes_nome_cadastro'].unique())

['Janeiro' 'Dezembro' 'Fevereiro' 'Maio' 'Novembro' 'Abril' 'Julho'
 'Março' 'Agosto' 'Setembro' 'Outubro' 'Junho']

### Checagem final das colunas

In [52]:
for col in df.columns:
    print(f"\n🔹 Coluna: {col}")
    valores = df[col].unique()
    print(valores if len(valores) <= 20 else f"{len(valores)} valores únicos. Exibindo os 20 primeiros:")
    print(valores[:20])

🔹 Coluna: id
1981 valores únicos. Exibindo os 20 primeiros:
[ 2795  2285   115 10470  4065 10968  5985  5430  8432   453  1826     1
 10476  1386  5371  7348  4073  1991  4047  9477]

🔹 Coluna: ano_nascimento
57 valores únicos. Exibindo os 20 primeiros:
[1958 1954 1966 1979 1976 1969 1965 1956 1970 1961 1967 1989 1947 1959
 1981 1977 1960 1975 1971 1986]

🔹 Coluna: escolaridade
['Mestrado' 'Doutorado' 'Curso Superior' 'Segundo Grau' 'Primeiro Grau']
['Mestrado' 'Doutorado' 'Curso Superior' 'Segundo Grau' 'Primeiro Grau']

🔹 Coluna: estado_civil
['Solteiro' 'Casado' 'Divorciado']
['Solteiro' 'Casado' 'Divorciado']

🔹 Coluna: salario_anual
1769 valores únicos. Exibindo os 20 primeiros:
[30523. 36634. 43456. 40662. 49544. 57731. 33168. 54450. 35340. 84835.
 57091. 67267. 32474. 21474. 71691. 63564. 44931. 65324. 81044. 62499.]

🔹 Coluna: filhos_em_casa
[2 0 1]
[2 0 1]

🔹 Coluna: adolescentes_em_casa
[1 0 2]
[1 0 2]

🔹 Coluna: data_cadastro
387 valores únicos. Exibindo os 20 primeiros:
<DatetimeArray>
['2020-01-07 00:00:00', '2023-12-05 00:00:00', '2023-02-03 00:00:00',
 '2023-05-03 00:00:00', '2020-11-02 00:00:00', '2022-04-11 00:00:00',
 '2022-12-10 00:00:00', '2022-04-09 00:00:00', '2021-07-06 00:00:00',
 '2021-03-06 00:00:00', '2021-07-05 00:00:00', '2018-11-05 00:00:00',
 '2018-08-04 00:00:00', '2021-02-03 00:00:00', '2021-07-01 00:00:00',
 '2021-04-01 00:00:00', '2018-11-01 00:00:00', '2023-03-12 00:00:00',
 '2020-09-12 00:00:00', '2020-07-12 00:00:00']
Length: 20, dtype: datetime64[ns]

🔹 Coluna: dias_desde_ultima_compra
89 valores únicos. Exibindo os 20 primeiros:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

🔹 Coluna: gasto_com_eletronicos
729 valores únicos. Exibindo os 20 primeiros:
[  5. 213. 275.  40. 308. 266.  80. 454.  27. 189. 464. 134.  10.   6.
 336. 769.  78. 384. 450. 140.]

🔹 Coluna: gasto_com_brinquedos
157 valores únicos. Exibindo os 20 primeiros:
[  0.   9.  11.   2.  21.   1. 104.   5.  16. 130.  80.  26.   4.  82.
  10.   6. 174.   7.  42.  12.]

🔹 Coluna: gasto_com_moveis
523 valores únicos. Exibindo os 20 primeiros:
[  3.  76.  68.  23.  73. 300.  37. 171.  12. 379.  64.  59.   1.  24.
 411. 252.  11. 102. 535.  61.]

🔹 Coluna: gasto_com_utilidades
179 valores únicos. Exibindo os 20 primeiros:
[  0.   4.  25.  65.   8. 111.   7.  15.  11. 240.  21.  73.  80.   3.
   2.  13.  50. 106. 138.  43.]

🔹 Coluna: gasto_com_alimentos
168 valores únicos. Exibindo os 20 primeiros:
[  0.   3.   7.   4.   8.   1.  19. 189.   2.  32.  34.  98.  13.  20.
  16.  30. 197.  14.  89. 172.]

🔹 Coluna: gasto_com_vestuario
206 valores únicos. Exibindo os 20 primeiros:
[  5.  30.   7.  23.  44.   3.  32. 218.  37.   0.  34.  43.  65.  26.
   4. 102. 321.  22.   2.  10.]

🔹 Coluna: numero_de_compras_com_desconto
[ 1  3  2  4 12  0  7  5  6 11  9  8 10 15 13]
[ 1  3  2  4 12  0  7  5  6 11  9  8 10 15 13]

🔹 Coluna: numero_de_compras_na_web
[ 1  5  2  8  9  4  7  3 10  6 25  0 11 27]
[ 1  5  2  8  9  4  7  3 10  6 25  0 11 27]

🔹 Coluna: numero_de_compras_via_catalogo
[ 0  2  1  8  4  3  7 10  6  5  9 11 28]
[ 0  2  1  8  4  3  7 10  6  5  9 11 28]

🔹 Coluna: numero_de_compras_na_loja
[ 2  5  8  3  6  4  7  9 10  0 13 12  1 11]
[ 2  5  8  3  6  4  7  9 10  0 13 12  1 11]

🔹 Coluna: numero_visitas_website_mes
[ 7  5  4  6  8  1  2  3  9  0 17 13 10 14 19 20]
[ 7  5  4  6  8  1  2  3  9  0 17 13 10 14 19 20]

🔹 Coluna: compra_na_campanha_1
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: compra_na_campanha_2
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: compra_na_campanha_3
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: compra_na_campanha_4
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: compra_na_campanha_5
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: comprou
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: pais
['Chile' 'Espanha' 'Argentina' 'Alemanha' 'Estados Unidos' 'Portugal'
 'Brasil']
['Chile' 'Espanha' 'Argentina' 'Alemanha' 'Estados Unidos' 'Portugal'
 'Brasil']

🔹 Coluna: ano_cadastro
[2020 2023 2022 2021 2018 2019]
[2020 2023 2022 2021 2018 2019]

🔹 Coluna: mes_cadastro
[ 1 12  2  5 11  4  7  3  8  9 10  6]
[ 1 12  2  5 11  4  7  3  8  9 10  6]

🔹 Coluna: mes_nome_cadastro
['Janeiro' 'Dezembro' 'Fevereiro' 'Maio' 'Novembro' 'Abril' 'Julho'
 'Março' 'Agosto' 'Setembro' 'Outubro' 'Junho']
['Janeiro' 'Dezembro' 'Fevereiro' 'Maio' 'Novembro' 'Abril' 'Julho'
 'Março' 'Agosto' 'Setembro' 'Outubro' 'Junho']

🔹 Coluna: dia_cadastro
[ 7  5  3  2 11 10  9  6  4  1 12  8]
[ 7  5  3  2 11 10  9  6  4  1 12  8]

🔹 Coluna: dia_semana_cadastro
['Terça-feira' 'Sexta-feira' 'Quarta-feira' 'Segunda-feira' 'Sábado'
 'Quinta-feira' 'Domingo']
['Terça-feira' 'Sexta-feira' 'Quarta-feira' 'Segunda-feira' 'Sábado'
 'Quinta-feira' 'Domingo']

🔹 Coluna: semana_cadastro
37 valores únicos. Exibindo os 20 primeiros:
[ 2 49  5 18 45 15 14 27  9 31 26 13 44 10 37 28 19 46 41 36]

🔹 Coluna: idade
57 valores únicos. Exibindo os 20 primeiros:
[67 71 59 46 49 56 60 69 55 64 58 36 78 66 44 48 65 50 54 39]

🔹 Coluna: faixa_etária
['60+', '46-60', '31-45', NaN, '18-30']
Categories (4, object): ['18-30' < '31-45' < '46-60' < '60+']
['60+', '46-60', '31-45', NaN, '18-30']
Categories (4, object): ['18-30' < '31-45' < '46-60' < '60+']

🔹 Coluna: filhos
['Sim' 'Não']
['Sim' 'Não']

🔹 Coluna: gasto_total
972 valores únicos. Exibindo os 20 primeiros:
[  13.  335.  393.   92.  404.  704.  122.  684.   45. 1190.  577.  251.
   11.   91. 1192. 1215.   96.  544. 1208.  222.]

🔹 Coluna: total_compras
38 valores únicos. Exibindo os 20 primeiros:
[ 4 15 17  8 16 26 10 31  7 18 11 28 20 22 12  5 25 14  6 19]

🔹 Coluna: comprou_em_campanha
['Não' 'Sim']
['Não' 'Sim']

🔹 Coluna: engajamento_em_campanhas
[0 2 3 5 4]
[0 2 3 5 4]

### Estatísticas Básicas

In [53]:
# Seleciona colunas numéricas, excluindo 'id' e datas
colunas_numericas = df.select_dtypes(include=['int64', 'float64']).columns
colunas_numericas = [col for col in colunas_numericas if col != 'id']

# Exibe estatísticas básicas
print(df[colunas_numericas].describe())

       ano_nascimento  salario_anual  filhos_em_casa  adolescentes_em_casa  \
count     1981.000000    1981.000000      1981.00000           1981.000000
mean      1968.796567   52290.852600         0.44523              0.502776
std         11.981657   25484.701911         0.53433              0.539938
min       1893.000000    1730.000000         0.00000              0.000000
25%       1959.000000   35196.000000         0.00000              0.000000
50%       1970.000000   51766.000000         0.00000              0.000000
75%       1977.000000   68281.000000         1.00000              1.000000
max       1996.000000  666666.000000         2.00000              2.000000

       dias_desde_ultima_compra  gasto_com_eletronicos  gasto_com_brinquedos  \
count               1981.000000            1981.000000           1981.000000
mean                  43.647653             304.747097             26.347299
std                   25.819537             338.425386             40.320465
min                    0.000000               0.000000              0.000000
25%                   22.000000              23.000000              1.000000
50%                   45.000000             176.000000              8.000000
75%                   66.000000             504.000000             32.000000
max                   88.000000            1493.000000            199.000000

       gasto_com_moveis  gasto_com_utilidades  gasto_com_alimentos  ...  \
count       1981.000000            1981.00000          1981.000000  ...
mean         164.696113              37.65371            26.763756  ...
std          222.047621              54.83439            40.737106  ...
min            0.000000               0.00000             0.000000  ...
25%           16.000000               3.00000             1.000000  ...
50%           68.000000              12.00000             8.000000  ...
75%          227.000000              50.00000            33.000000  ...
max         1725.000000             259.00000           262.000000  ...

       numero_de_compras_na_loja  numero_visitas_website_mes  ano_cadastro  \
count                1981.000000                 1981.000000   1981.000000
mean                    5.804644                    5.329127   2021.040888
std                     3.275205                    2.440340      1.646497
min                     0.000000                    0.000000   2018.000000
25%                     3.000000                    3.000000   2020.000000
50%                     5.000000                    6.000000   2021.000000
75%                     8.000000                    7.000000   2023.000000
max                    13.000000                   20.000000   2023.000000

       mes_cadastro  dia_cadastro  semana_cadastro        idade  gasto_total  \
count   1981.000000   1981.000000      1981.000000  1981.000000  1981.000000
mean       4.763756      6.437658        17.940434    56.203433   603.816759
std        2.905015      3.497441        12.968941    11.981657   599.930106
min        1.000000      1.000000         1.000000    29.000000     5.000000
25%        3.000000      3.000000         9.000000    48.000000    68.000000
50%        4.000000      6.000000        14.000000    55.000000   397.000000
75%        7.000000     10.000000        27.000000    66.000000  1040.000000
max       12.000000     12.000000        52.000000   132.000000  2525.000000

       total_compras  engajamento_em_campanhas
count    1981.000000               1981.000000
mean       14.848561                  0.505300
std         7.678600                  1.049096
min         0.000000                  0.000000
25%         8.000000                  0.000000
50%        15.000000                  0.000000
75%        21.000000                  0.000000
max        44.000000                  5.000000

[8 rows x 24 columns]

### Detecção de Outliers

In [54]:
outliers = {}

for col in colunas_numericas:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    # Identifica outliers
    outlier_mask = (df[col] < limite_inferior) | (df[col] > limite_superior)
    outliers[col] = df[col][outlier_mask]

    print(f"\nColuna: {col}")
    print(f"Outliers detectados: {outlier_mask.sum()}")
    print(f"Valores extremos: {df[col][outlier_mask].unique()}")

Coluna: ano_nascimento
Outliers detectados: 2
Valores extremos: [1893 1899]

Coluna: salario_anual
Outliers detectados: 7
Valores extremos: [157146. 160803. 666666. 162397. 157733. 153924. 156924.]

Coluna: filhos_em_casa
Outliers detectados: 0
Valores extremos: []

Coluna: adolescentes_em_casa
Outliers detectados: 0
Valores extremos: []

Coluna: dias_desde_ultima_compra
Outliers detectados: 0
Valores extremos: []

Coluna: gasto_com_eletronicos
Outliers detectados: 33
Valores extremos: [1285. 1248. 1296. 1462. 1478. 1302. 1239. 1349. 1308. 1230. 1332. 1253.
 1394. 1276. 1288. 1493. 1311. 1486. 1492. 1259. 1241. 1245. 1459. 1379.
 1298. 1315. 1396. 1324. 1449.]

Coluna: gasto_com_brinquedos
Outliers detectados: 223
Valores extremos: [104. 130.  80.  82. 174. 169. 107. 105.  81.  96.  86. 193.  83. 148.
 103. 142.  97. 117. 134. 153. 106.  88. 133.  99. 129.  93. 185.  79.
 162. 168.  98. 172. 140. 194.  91. 183. 151. 197. 178. 189. 102. 155.
 115.  90. 114. 199. 154. 123. 108. 137. 120.  84. 112. 160. 159. 111.
 147. 143. 161. 144. 181.  89. 132. 138. 184. 122.  85. 149. 152. 100.
 164. 101.  87.  92. 166. 126. 124. 190. 131. 163.]

Coluna: gasto_com_moveis
Outliers detectados: 163
Valores extremos: [ 706.  816.  981.  653.  780.  559.  547.  849.  560.  751.  785.  678.
  786.  592.  898.  694.  873.  594.  569.  732.  548.  850.  651. 1725.
  697.  687.  622.  731.  804.  842.  599.  570.  565.  670.  575.  689.
  673.  733.  827.  590. 1622.  711.  812.  545.  797.  649.  549.  573.
  558.  572.  915.  890.  754.  761.  835.  853.  555.  625.  925.  690.
  562.  655.  595.  951.  845.  601.  779.  792.  860.  818.  561.  631.
  929.  974.  753.  617.  708.  921.  746.  613.  704.  639. 1607.  550.
  597.  604.  815.  961.  546.  567.  749.  553.  607.  843.  790.  899.
  614.  883.  640.  768.  554.  685.  568.  672.  935.  747.  713.  740.
  611.  591.  724.  602.  756.  758.  603.  750.  586.  693.  674.  940.
  606.  716.  913.  717.  735.  932.  813.  654.  984.  612.  629.]

Coluna: gasto_com_utilidades
Outliers detectados: 198
Valores extremos: [240. 138. 189. 224. 150. 134. 193. 180. 140. 137. 168. 205. 172. 229.
 259. 127. 130. 145. 218. 247. 124. 185. 182. 160. 136. 175. 162. 216.
 142. 207. 192. 123. 166. 201. 169. 219. 125. 151. 242. 234. 253. 258.
 227. 188. 128. 141. 250. 159. 121. 232. 184. 179. 158. 153. 171. 202.
 173. 132. 164. 197. 210. 199. 181. 237. 129. 156. 149. 167. 231. 220.
 212. 198. 208. 133. 254. 177. 246. 223. 146. 186. 225. 147.]

Coluna: gasto_com_alimentos
Outliers detectados: 218
Valores extremos: [189.  98. 197.  89. 172. 160.  92. 138. 167. 178.  99. 101. 123.  82.
  96. 176. 128. 151. 133. 134. 148. 262.  97. 121. 142. 198.  83. 149.
 175. 162. 137.  94. 114. 102. 141. 110. 152. 112. 115.  85. 126. 163.
  91.  95. 120. 116. 125. 144. 122. 106.  88. 185. 130. 107. 143. 105.
 111. 108. 179. 118.  93. 103.  84. 161. 147. 194. 192. 109. 150.  86.
 153. 165. 187. 132. 191. 174.  87. 196. 157. 169. 136. 139. 100. 129.
 166. 173. 188. 182. 156.]

Coluna: gasto_com_vestuario
Outliers detectados: 189
Valores extremos: [218. 321. 197. 172. 125. 262. 129. 145. 143. 168. 150. 128. 148. 191.
 147. 181. 135. 160. 153. 130. 133. 152. 134. 140. 138. 166. 241. 157.
 219. 231. 183. 205. 177. 192. 246. 127. 144. 141. 248. 196. 139. 190.
 174. 170. 182. 169. 233. 146. 198. 176. 171. 242. 158. 232. 227. 203.
 142. 200. 224. 207. 154. 216. 151. 132. 223. 137. 247. 163. 126. 149.
 162. 185. 204. 173. 245. 195. 161. 131. 187. 215. 159. 249. 210. 180.
 178. 229.]

Coluna: numero_de_compras_com_desconto
Outliers detectados: 77
Valores extremos: [12  7 11  9  8 10 15 13]

Coluna: numero_de_compras_na_web
Outliers detectados: 2
Valores extremos: [25 27]

Coluna: numero_de_compras_via_catalogo
Outliers detectados: 18
Valores extremos: [11 28]

Coluna: numero_de_compras_na_loja
Outliers detectados: 0
Valores extremos: []

Coluna: numero_visitas_website_mes
Outliers detectados: 8
Valores extremos: [17 14 19 20]

Coluna: ano_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: mes_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: dia_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: semana_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: idade
Outliers detectados: 2
Valores extremos: [132 126]

Coluna: gasto_total
Outliers detectados: 3
Valores extremos: [2525. 2524.]

Coluna: total_compras
Outliers detectados: 2
Valores extremos: [44 43]

Coluna: engajamento_em_campanhas
Outliers detectados: 410
Valores extremos: [2 3 5 4]

### Tratamento de Outliers

In [55]:
# Localiza registros com ano de nascimento incoerente
df_outliers_nascimento = df[df['ano_nascimento'] < 1920]
print(df_outliers_nascimento[['id', 'idade', 'ano_nascimento']])

        id  idade  ano_nascimento
513  11004    132            1893
827   1150    126            1899

In [56]:
# Remoção dos registros de idade incoerente
df_sem_nulos = df.shape[0]
df = df.drop(df_outliers_nascimento.index)
df_sem_ano_incoerente = df.shape[0]
print(f'Foram removidas {df_sem_nulos - df_sem_ano_incoerente} linhas com idade incoerente.')

Foram removidas 2 linhas com idade incoerente.

### Salvamento do Dataset Limpo

In [57]:
print(f'Tamanho inicial do DataFrame: {df_inicial} linhas')
print(f'Tamanho final do DataFrame: {df.shape[0]} linhas')
print(f'Total de linhas removidas: {df_inicial - df.shape[0]} linhas')

porcentagem = (df_inicial - df.shape[0]) / df_inicial * 100
print(f'Porcentagem de linhas removidas: {porcentagem: .2f} %')

Tamanho inicial do DataFrame: 2000 linhas
Tamanho final do DataFrame: 1979 linhas
Total de linhas removidas: 21 linhas
Porcentagem de linhas removidas:  1.05 %

In [58]:
# Salvamento condicional
output_path = '/content/drive/MyDrive/Estudos/Dados/Marketing/dados_marketing_limpo.csv'
output_dir = os.path.dirname(output_path)

if not os.path.exists(output_dir):
    os.makedirs(output_dir)

df.to_csv(output_path, index=False, encoding='utf-8')
print(f'Dataset limpo salvo em: {output_path}')

Dataset limpo salvo em: /content/drive/MyDrive/Estudos/Dados/Marketing/dados_marketing_limpo.csv