## üßπ Pr√©-processamento de Dados de Marketing

Este notebook demonstra o processo de limpeza e transforma√ß√£o de um dataset de marketing,
preparando os dados para an√°lises explorat√≥rias e modelagem.

Etapas principais:
1. Inspe√ß√£o e tratamento de valores ausentes  
2. Remo√ß√£o de duplicatas  
3. Cria√ß√£o de novas vari√°veis  
4. Padroniza√ß√£o de formatos  
5. Detec√ß√£o e tratamento de outliers

Dataset usado como base:
https://archive.ics.uci.edu/dataset/222/bank+marketing

### Bibliotecas utilizadas

In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

### 1. Carregamento e Inspe√ß√£o Inicial dos Dados

In [2]:
# Carregando o dataset
df = pd.read_csv('/content/drive/MyDrive/Estudos/Dados/Marketing/dados_marketing.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2000 non-null   int64
 1   Ano Nascimento                  2000 non-null   int64
 2   Escolaridade                    2000 non-null   object
 3   Estado Civil                    2000 non-null   object
 4   Salario Anual                   1981 non-null   float64
 5   Filhos em Casa                  2000 non-null   int64
 6   Adolescentes em Casa            2000 non-null   int64
 7   Data Cadastro                   2000 non-null   object
 8   Dias Desde Ultima Compra        2000 non-null   int64
 9   Gasto com Eletronicos           2000 non-null   int64
 10  Gasto com Brinquedos            2000 non-null   int64
 11  Gasto com Moveis                2000 non-null   int64
 12  Gasto com Utilidades            2000 non-null   int64
 13  Gasto com Alimentos             2000 non-null   int64
 14  Gasto com Vestuario             2000 non-null   int64
 15  Numero de Compras com Desconto  2000 non-null   int64
 16  Numero de Compras na Web        2000 non-null   int64
 17  Numero de Compras via Catalogo  2000 non-null   int64
 18  Numero de Compras na Loja       2000 non-null   int64
 19  Numero Visitas WebSite Mes      2000 non-null   int64
 20  Compra na Campanha 1            2000 non-null   int64
 21  Compra na Campanha 2            2000 non-null   int64
 22  Compra na Campanha 3            2000 non-null   int64
 23  Compra na Campanha 4            2000 non-null   int64
 24  Compra na Campanha 5            2000 non-null   int64
 25  Comprou                         2000 non-null   int64
 26  Pais                            2000 non-null   object
dtypes: float64(1), int64(22), object(4)
memory usage: 422.0+ KB

In [3]:
# Exibi√ß√£o das informa√ß√µes iniciais do dataset
total_linhas = df.shape[0]
total_colunas = df.shape[1]

resumo_df = pd.DataFrame({
    "Linhas": [total_linhas],
    "Colunas": [total_colunas]
})

# Imprime os valores como texto simples
print(f'Linhas: {resumo_df["Linhas"].iloc[0]}, Colunas: {resumo_df["Colunas"].iloc[0]}')
print("\n")
print('Esta √© a estrutura do dataset:')
print('\n')
df.info()
print("\n")
print('Estas s√£o as 3 primeiras linhas do dataset:')
display(df.head(3))

Linhas: 2000, Colunas: 27


Esta √© a estrutura do dataset:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2000 non-null   int64
 1   Ano Nascimento                  2000 non-null   int64
 2   Escolaridade                    2000 non-null   object
 3   Estado Civil                    2000 non-null   object
 4   Salario Anual                   1981 non-null   float64
 5   Filhos em Casa                  2000 non-null   int64
 6   Adolescentes em Casa            2000 non-null   int64
 7   Data Cadastro                   2000 non-null   object
 8   Dias Desde Ultima Compra        2000 non-null   int64
 9   Gasto com Eletronicos           2000 non-null   int64
 10  Gasto com Brinquedos            2000 non-null   int64
 11  Gasto com Moveis                2000 non-null   int64
 12  Gasto com Utilidades            2000 non-null   int64
 13  Gasto com Alimentos             2000 non-null   int64
 14  Gasto com Vestuario             2000 non-null   int64
 15  Numero de Compras com Desconto  2000 non-null   int64
 16  Numero de Compras na Web        2000 non-null   int64
 17  Numero de Compras via Catalogo  2000 non-null   int64
 18  Numero de Compras na Loja       2000 non-null   int64
 19  Numero Visitas WebSite Mes      2000 non-null   int64
 20  Compra na Campanha 1            2000 non-null   int64
 21  Compra na Campanha 2            2000 non-null   int64
 22  Compra na Campanha 3            2000 non-null   int64
 23  Compra na Campanha 4            2000 non-null   int64
 24  Compra na Campanha 5            2000 non-null   int64
 25  Comprou                         2000 non-null   int64
 26  Pais                            2000 non-null   object
dtypes: float64(1), int64(22), object(4)
memory usage: 422.0+ KB


Estas s√£o as 3 primeiras linhas do dataset:

,ID,Ano Nascimento,Escolaridade,Estado Civil,Salario Anual,Filhos em Casa,Adolescentes em Casa,Data Cadastro,Dias Desde Ultima Compra,Gasto com Eletronicos,...,Numero de Compras via Catalogo,Numero de Compras na Loja,Numero Visitas WebSite Mes,Compra na Campanha 1,Compra na Campanha 2,Compra na Campanha 3,Compra na Campanha 4,Compra na Campanha 5,Comprou,Pais
0,2795,1958,Mestrado,Solteiro,30523.0,2,1,07/01/2020,0,5,...,0,2,7,0,0,0,0,0,0,Chile
1,2285,1954,Mestrado,Casado,36634.0,0,1,05/12/2023,0,213,...,2,5,7,0,0,0,0,0,0,Espanha
2,115,1966,Mestrado,Solteiro,43456.0,0,1,03/02/2023,0,275,...,1,8,5,0,0,0,0,0,0,Argentina

### 2. Tratamento de Valores Nulos

In [4]:
# Verifica√ß√£o de nulos
df.isnull().sum().sort_values(ascending=False).to_frame("Valores Nulos")

                                Valores Nulos
Salario Anual                              19
Ano Nascimento                              0
ID                                          0
Escolaridade                                0
Estado Civil                                0
Filhos em Casa                              0
Adolescentes em Casa                        0
Data Cadastro                               0
Dias Desde Ultima Compra                    0
Gasto com Eletronicos                       0
Gasto com Brinquedos                        0
Gasto com Moveis                            0
Gasto com Utilidades                        0
Gasto com Alimentos                         0
Gasto com Vestuario                         0
Numero de Compras com Desconto              0
Numero de Compras na Web                    0
Numero de Compras via Catalogo              0
Numero de Compras na Loja                   0
Numero Visitas WebSite Mes                  0
Compra na Campanha 1                        0
Compra na Campanha 2                        0
Compra na Campanha 3                        0
Compra na Campanha 4                        0
Compra na Campanha 5                        0
Comprou                                     0
Pais                                        0

In [5]:
# Visualiza√ß√£o dos registros com 'Salario Anual' nulo
salarios_nulos = (
    df.loc[df['Salario Anual'].isnull(), ['ID']]
      .rename(columns={'ID': 'ID com Sal√°rio Nulo'})
      .reset_index(drop=True)
)

print(f"Total de registros com sal√°rio nulo: {salarios_nulos.shape[0]}\n")

salarios_nulos.insert(0, "N¬∫", range(len(salarios_nulos)))
display(salarios_nulos.style.hide(axis="index"))

Total de registros com sal√°rio nulo: 19

In [6]:
# Remo√ß√£o dos registros com valores nulos
df_inicial = df.shape[0]
df = df.dropna(subset=['Salario Anual'])
df_sem_nulos = df.shape[0]

print(f'Linhas antes da limpeza: {df_inicial}')
print(f'Foram removidas {df_inicial - df_sem_nulos} linhas com sal√°rio nulo.')
print(f'Linhas ap√≥s a limpeza: {df_sem_nulos}')

Linhas antes da limpeza: 2000
Foram removidas 19 linhas com sal√°rio nulo.
Linhas ap√≥s a limpeza: 1981

### 3. Tratamento de Duplicatas

In [7]:
# Remo√ß√£o de duplicatas
duplicatas = df[df.duplicated()]
soma_duplicadas = df.duplicated().sum()
df = df.drop_duplicates()
print(f'Foram encontradas {soma_duplicadas} linhas duplicadas.')

Foram encontradas 0 linhas duplicadas.

### 4. Engenharia de Atributos

In [8]:
# Convers√£o de datas
df['Data Cadastro'] = pd.to_datetime(df['Data Cadastro'], dayfirst=True)

In [9]:
# Cria√ß√£o de atributos derivados da Data de Cadastro
df['Ano Cadastro'] = df['Data Cadastro'].dt.year
df['Mes Cadastro'] = df['Data Cadastro'].dt.month
df['Mes Nome Cadastro'] = df['Data Cadastro'].dt.month_name()
df['Dia Cadastro'] = df['Data Cadastro'].dt.day
df['Dia Semana Cadastro'] = df['Data Cadastro'].dt.day_name()
df['Semana Cadastro'] = df['Data Cadastro'].dt.isocalendar().week

df['Idade'] = 2025 - df['Ano Nascimento']

In [10]:
# Cria√ß√£o de atributos de segmenta√ß√£o de idade
df['Faixa Et√°ria'] = pd.cut(df['Idade'], bins=[17,30,45,60,100], labels=['18-30', '31-45', '46-60', '60+'])

In [11]:
# Cria√ß√£o de atributo bin√°rio para presen√ßa ou n√£o de filhos/adolescentes
df['Filhos'] = np.where(df['Filhos em Casa'] > 0, 1, 0) | np.where(df['Adolescentes em Casa'] > 0, 1, 0)

In [12]:
# Visualiza√ß√£o de todos os atributos criados
atributos_derivados = [
    'Ano Cadastro',
    'Mes Cadastro',
    'Mes Nome Cadastro',
    'Dia Cadastro',
    'Dia Semana Cadastro',
    'Semana Cadastro',
    'Idade',
    'Faixa Et√°ria',
    'Filhos'
]

colunas_iniciais = df.shape[1]
colunas_pos_atributos = resumo_df["Colunas"].iloc[0] + len(atributos_derivados)

print(f'Quantidade de colunas iniciais: {resumo_df["Colunas"].iloc[0]}')
print(f'Total de atributos criados: {len(atributos_derivados)}')
print(f'Quantidade de colunas finais: {colunas_pos_atributos}')

# Visualiza√ß√£o das 3 primeiras linhas do DataFrame com essas colunas
print('\n')
print('Visualiza√ß√£o das 3 primeiras linhas com os atributos criados')
display(df[atributos_derivados].head(3).style.hide(axis="index"))

Quantidade de colunas iniciais: 27
Total de atributos criados: 9
Quantidade de colunas finais: 36


Visualiza√ß√£o das 3 primeiras linhas com os atributos criados

### 5. Cria√ß√£o de M√©tricas Derivadas

In [13]:
# Cria√ß√£o de m√©tricas derivadas de gastos
gastos = ['Gasto com Eletronicos', 'Gasto com Brinquedos', 'Gasto com Moveis',
          'Gasto com Utilidades', 'Gasto com Alimentos', 'Gasto com Vestuario']
df['Gasto Total'] = df[gastos].sum(axis=1)
compras = ['Numero de Compras com Desconto', 'Numero de Compras na Web',
           'Numero de Compras via Catalogo', 'Numero de Compras na Loja']
df['Total Compras'] = df[compras].sum(axis=1)

In [14]:
# Cria√ß√£o de m√©tricas derivadas de campanhas
df['Comprou em Campanha'] = np.where(df[[c for c in df.columns if 'campanha' in c.lower()]].sum(axis=1) > 0, 1, 0)
df['Engajamento em campanhas'] = df[[c for c in df.columns if 'campanha' in c.lower()]].sum(axis=1)

In [15]:
# Visualiza√ß√£o de todas as m√©tricas criadas
metricas_derivadas = [
    'Gasto Total',
    'Total Compras',
    'Comprou em Campanha',
    'Engajamento em campanhas'
]

print(f'Total de m√©tricas criadas: {len(metricas_derivadas)}')
print(f'Quantidade de colunas anterior: {colunas_pos_atributos}')
print(f'Quantidade de colunas finais: {colunas_pos_atributos + len(metricas_derivadas)}')

# Visualiza√ß√£o das 3 primeiras linhas do DataFrame com essas metricas
print('\n')
print('Visualiza√ß√£o das 3 primeiras linhas com as m√©tricas criadas')
display(df[metricas_derivadas].head(3).style.hide(axis="index"))

Total de m√©tricas criadas: 4
Quantidade de colunas anterior: 36
Quantidade de colunas finais: 40


Visualiza√ß√£o das 3 primeiras linhas com as m√©tricas criadas

In [16]:
# Descri√ß√£o do dataframe ap√≥s a inclus√£o de novas colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1981 entries, 0 to 1999
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1981 non-null   int64
 1   Ano Nascimento                  1981 non-null   int64
 2   Escolaridade                    1981 non-null   object
 3   Estado Civil                    1981 non-null   object
 4   Salario Anual                   1981 non-null   float64
 5   Filhos em Casa                  1981 non-null   int64
 6   Adolescentes em Casa            1981 non-null   int64
 7   Data Cadastro                   1981 non-null   datetime64[ns]
 8   Dias Desde Ultima Compra        1981 non-null   int64
 9   Gasto com Eletronicos           1981 non-null   int64
 10  Gasto com Brinquedos            1981 non-null   int64
 11  Gasto com Moveis                1981 non-null   int64
 12  Gasto com Utilidades            1981 non-null   int64
 13  Gasto com Alimentos             1981 non-null   int64
 14  Gasto com Vestuario             1981 non-null   int64
 15  Numero de Compras com Desconto  1981 non-null   int64
 16  Numero de Compras na Web        1981 non-null   int64
 17  Numero de Compras via Catalogo  1981 non-null   int64
 18  Numero de Compras na Loja       1981 non-null   int64
 19  Numero Visitas WebSite Mes      1981 non-null   int64
 20  Compra na Campanha 1            1981 non-null   int64
 21  Compra na Campanha 2            1981 non-null   int64
 22  Compra na Campanha 3            1981 non-null   int64
 23  Compra na Campanha 4            1981 non-null   int64
 24  Compra na Campanha 5            1981 non-null   int64
 25  Comprou                         1981 non-null   int64
 26  Pais                            1981 non-null   object
 27  Ano Cadastro                    1981 non-null   int32
 28  Mes Cadastro                    1981 non-null   int32
 29  Mes Nome Cadastro               1981 non-null   object
 30  Dia Cadastro                    1981 non-null   int32
 31  Dia Semana Cadastro             1981 non-null   object
 32  Semana Cadastro                 1981 non-null   UInt32
 33  Idade                           1981 non-null   int64
 34  Faixa Et√°ria                    1979 non-null   category
 35  Filhos                          1981 non-null   int64
 36  Gasto Total                     1981 non-null   int64
 37  Total Compras                   1981 non-null   int64
 38  Comprou em Campanha             1981 non-null   int64
 39  Engajamento em campanhas        1981 non-null   int64
dtypes: UInt32(1), category(1), datetime64[ns](1), float64(1), int32(3), int64(28), object(5)
memory usage: 592.2+ KB

### 6. Padroniza√ß√£o e Convers√£o de Tipos de Dados

In [17]:
# Fun√ß√£o para padronizar tipos de dados
def padronizar_tipos_numericos(df):
    # Colunas que devem ser float64
    colunas_float = [
        'Salario Anual',
        'Gasto com Eletronicos',
        'Gasto com Brinquedos',
        'Gasto com Moveis',
        'Gasto com Utilidades',
        'Gasto com Alimentos',
        'Gasto com Vestuario',
        'Gasto Total'
    ]

    # Colunas que devem ser int64
    colunas_int = [
        'ID',
        'Ano Nascimento',
        'Filhos em Casa',
        'Adolescentes em Casa',
        'Dias Desde Ultima Compra',
        'Numero de Compras com Desconto',
        'Numero de Compras na Web',
        'Numero de Compras via Catalogo',
        'Numero de Compras na Loja',
        'Numero Visitas WebSite Mes',
        'Compra na Campanha 1',
        'Compra na Campanha 2',
        'Compra na Campanha 3',
        'Compra na Campanha 4',
        'Compra na Campanha 5',
        'Comprou',
        'Ano Cadastro',
        'Mes Cadastro',
        'Dia Cadastro',
        'Semana Cadastro',
        'Idade',
        'Filhos',
        'Total Compras',
        'Comprou em Campanha',
        'Engajamento em campanhas'
    ]

    # Aplica convers√£o
    for col in colunas_float:
        df[col] = df[col].astype('float64')

    for col in colunas_int:
        df[col] = df[col].astype('int64')

    return df

In [18]:
# Chama a fun√ß√£o para efetivar a padroniza√ß√£o
df = padronizar_tipos_numericos(df)

In [19]:
# Convers√£o de colunas bin√°rias (valores 0 e 1) para Sim/N√£o
colunas_binarias = [col for col in df.columns
                    if df[col].dtype == 'int64' and set(df[col].unique()) <= {0, 1}]

# Converte para Sim/N√£o
for col in colunas_binarias:
    df[col] = df[col].map({1: 'Sim', 0: 'N√£o'})

### 7. Padroniza√ß√£o de Nomes de Colunas

In [20]:
# Padroniza√ß√£o de nomes de colunas
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('√£', 'a').str.replace('√ß', 'c').str.replace('√©', 'e').str.replace('√≠', 'i').str.replace('√≥', 'o').str.replace('√∫', 'u')

In [21]:
# Verifica√ß√£o da padroniza√ß√£o de colunas
print(df.columns.tolist())

['id', 'ano_nascimento', 'escolaridade', 'estado_civil', 'salario_anual', 'filhos_em_casa', 'adolescentes_em_casa', 'data_cadastro', 'dias_desde_ultima_compra', 'gasto_com_eletronicos', 'gasto_com_brinquedos', 'gasto_com_moveis', 'gasto_com_utilidades', 'gasto_com_alimentos', 'gasto_com_vestuario', 'numero_de_compras_com_desconto', 'numero_de_compras_na_web', 'numero_de_compras_via_catalogo', 'numero_de_compras_na_loja', 'numero_visitas_website_mes', 'compra_na_campanha_1', 'compra_na_campanha_2', 'compra_na_campanha_3', 'compra_na_campanha_4', 'compra_na_campanha_5', 'comprou', 'pais', 'ano_cadastro', 'mes_cadastro', 'mes_nome_cadastro', 'dia_cadastro', 'dia_semana_cadastro', 'semana_cadastro', 'idade', 'faixa_et√°ria', 'filhos', 'gasto_total', 'total_compras', 'comprou_em_campanha', 'engajamento_em_campanhas']

### 8. Tradu√ß√£o de Dias e Meses (ingl√™s > portugu√™s)

In [22]:
# Mapeamento de dias da semana do ingl√™s para portugu√™s
dias_semana = {
    'Monday': 'Segunda-feira',
    'Tuesday': 'Ter√ßa-feira',
    'Wednesday': 'Quarta-feira',
    'Thursday': 'Quinta-feira',
    'Friday': 'Sexta-feira',
    'Saturday': 'S√°bado',
    'Sunday': 'Domingo'
}

In [23]:
# Aplica√ß√£o da tradu√ß√£o
df['dia_semana_cadastro'] = df['dia_semana_cadastro'].map(dias_semana)

In [24]:
# Verifi√ß√£o da tradu√ß√£o dos dias
print(df['dia_semana_cadastro'].unique())

['Ter√ßa-feira' 'Sexta-feira' 'Quarta-feira' 'Segunda-feira' 'S√°bado'
 'Quinta-feira' 'Domingo']

In [25]:
# Mapeamento de meses do ano do ingl√™s para portugu√™s
meses_ano = {
    'January': 'Janeiro',
    'February': 'Fevereiro',
    'March': 'Mar√ßo',
    'April': 'Abril',
    'May': 'Maio',
    'June': 'Junho',
    'July': 'Julho',
    'August': 'Agosto',
    'September': 'Setembro',
    'October': 'Outubro',
    'November': 'Novembro',
    'December': 'Dezembro'
}

In [26]:
# Aplica√ß√£o da tradu√ß√£o
df['mes_nome_cadastro'] = df['mes_nome_cadastro'].map(meses_ano)

In [27]:
# Verifica√ß√£o da tradu√ß√£o dos meses
print(df['mes_nome_cadastro'].unique())

['Janeiro' 'Dezembro' 'Fevereiro' 'Maio' 'Novembro' 'Abril' 'Julho'
 'Mar√ßo' 'Agosto' 'Setembro' 'Outubro' 'Junho']

### 9. Checagem final ap√≥s pr√©-processamento

In [28]:
# Verifica√ß√£o final do dataset

for col in df.columns:
    valores = df[col].unique()
    total_valores = len(valores)

    print(f"\nColuna: {col}")

    if total_valores > 10:
        print(f"{total_valores} valores √∫nicos. Exibindo os 10 primeiros:")
        print(valores[:10])
    elif total_valores == 10:
        print("Os 10 primeiros valores s√£o:")
        print(valores)
    else:
        print(f"Os {total_valores} √∫nicos valores s√£o:")
        print(valores)

Coluna: id
1981 valores √∫nicos. Exibindo os 10 primeiros:
[ 2795  2285   115 10470  4065 10968  5985  5430  8432   453]

Coluna: ano_nascimento
57 valores √∫nicos. Exibindo os 10 primeiros:
[1958 1954 1966 1979 1976 1969 1965 1956 1970 1961]

Coluna: escolaridade
Os 5 √∫nicos valores s√£o:
['Mestrado' 'Doutorado' 'Curso Superior' 'Segundo Grau' 'Primeiro Grau']

Coluna: estado_civil
Os 3 √∫nicos valores s√£o:
['Solteiro' 'Casado' 'Divorciado']

Coluna: salario_anual
1769 valores √∫nicos. Exibindo os 10 primeiros:
[30523. 36634. 43456. 40662. 49544. 57731. 33168. 54450. 35340. 84835.]

Coluna: filhos_em_casa
Os 3 √∫nicos valores s√£o:
[2 0 1]

Coluna: adolescentes_em_casa
Os 3 √∫nicos valores s√£o:
[1 0 2]

Coluna: data_cadastro
387 valores √∫nicos. Exibindo os 10 primeiros:
<DatetimeArray>
['2020-01-07 00:00:00', '2023-12-05 00:00:00', '2023-02-03 00:00:00',
 '2023-05-03 00:00:00', '2020-11-02 00:00:00', '2022-04-11 00:00:00',
 '2022-12-10 00:00:00', '2022-04-09 00:00:00', '2021-07-06 00:00:00',
 '2021-03-06 00:00:00']
Length: 10, dtype: datetime64[ns]

Coluna: dias_desde_ultima_compra
89 valores √∫nicos. Exibindo os 10 primeiros:
[0 1 2 3 4 5 6 7 8 9]

Coluna: gasto_com_eletronicos
729 valores √∫nicos. Exibindo os 10 primeiros:
[  5. 213. 275.  40. 308. 266.  80. 454.  27. 189.]

Coluna: gasto_com_brinquedos
157 valores √∫nicos. Exibindo os 10 primeiros:
[  0.   9.  11.   2.  21.   1. 104.   5.  16. 130.]

Coluna: gasto_com_moveis
523 valores √∫nicos. Exibindo os 10 primeiros:
[  3.  76.  68.  23.  73. 300.  37. 171.  12. 379.]

Coluna: gasto_com_utilidades
179 valores √∫nicos. Exibindo os 10 primeiros:
[  0.   4.  25.  65.   8. 111.   7.  15.  11. 240.]

Coluna: gasto_com_alimentos
168 valores √∫nicos. Exibindo os 10 primeiros:
[  0.   3.   7.   4.   8.   1.  19. 189.   2.  32.]

Coluna: gasto_com_vestuario
206 valores √∫nicos. Exibindo os 10 primeiros:
[  5.  30.   7.  23.  44.   3.  32. 218.  37.   0.]

Coluna: numero_de_compras_com_desconto
15 valores √∫nicos. Exibindo os 10 primeiros:
[ 1  3  2  4 12  0  7  5  6 11]

Coluna: numero_de_compras_na_web
14 valores √∫nicos. Exibindo os 10 primeiros:
[ 1  5  2  8  9  4  7  3 10  6]

Coluna: numero_de_compras_via_catalogo
13 valores √∫nicos. Exibindo os 10 primeiros:
[ 0  2  1  8  4  3  7 10  6  5]

Coluna: numero_de_compras_na_loja
14 valores √∫nicos. Exibindo os 10 primeiros:
[ 2  5  8  3  6  4  7  9 10  0]

Coluna: numero_visitas_website_mes
16 valores √∫nicos. Exibindo os 10 primeiros:
[7 5 4 6 8 1 2 3 9 0]

Coluna: compra_na_campanha_1
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: compra_na_campanha_2
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: compra_na_campanha_3
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: compra_na_campanha_4
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: compra_na_campanha_5
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: comprou
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: pais
Os 7 √∫nicos valores s√£o:
['Chile' 'Espanha' 'Argentina' 'Alemanha' 'Estados Unidos' 'Portugal'
 'Brasil']

Coluna: ano_cadastro
Os 6 √∫nicos valores s√£o:
[2020 2023 2022 2021 2018 2019]

Coluna: mes_cadastro
12 valores √∫nicos. Exibindo os 10 primeiros:
[ 1 12  2  5 11  4  7  3  8  9]

Coluna: mes_nome_cadastro
12 valores √∫nicos. Exibindo os 10 primeiros:
['Janeiro' 'Dezembro' 'Fevereiro' 'Maio' 'Novembro' 'Abril' 'Julho'
 'Mar√ßo' 'Agosto' 'Setembro']

Coluna: dia_cadastro
12 valores √∫nicos. Exibindo os 10 primeiros:
[ 7  5  3  2 11 10  9  6  4  1]

Coluna: dia_semana_cadastro
Os 7 √∫nicos valores s√£o:
['Ter√ßa-feira' 'Sexta-feira' 'Quarta-feira' 'Segunda-feira' 'S√°bado'
 'Quinta-feira' 'Domingo']

Coluna: semana_cadastro
37 valores √∫nicos. Exibindo os 10 primeiros:
[ 2 49  5 18 45 15 14 27  9 31]

Coluna: idade
57 valores √∫nicos. Exibindo os 10 primeiros:
[67 71 59 46 49 56 60 69 55 64]

Coluna: faixa_et√°ria
Os 5 √∫nicos valores s√£o:
['60+', '46-60', '31-45', NaN, '18-30']
Categories (4, object): ['18-30' < '31-45' < '46-60' < '60+']

Coluna: filhos
Os 2 √∫nicos valores s√£o:
['Sim' 'N√£o']

Coluna: gasto_total
972 valores √∫nicos. Exibindo os 10 primeiros:
[  13.  335.  393.   92.  404.  704.  122.  684.   45. 1190.]

Coluna: total_compras
38 valores √∫nicos. Exibindo os 10 primeiros:
[ 4 15 17  8 16 26 10 31  7 18]

Coluna: comprou_em_campanha
Os 2 √∫nicos valores s√£o:
['N√£o' 'Sim']

Coluna: engajamento_em_campanhas
Os 5 √∫nicos valores s√£o:
[0 2 3 5 4]

### 10. Estat√≠sticas B√°sicas

In [29]:
# Identifica√ß√£o das colunas num√©ricas
colunas_numericas = df.select_dtypes(include=['int64', 'float64']).columns

In [30]:
# Gera o resumo estat√≠stico como DataFrame
resumo_estatisticas = df[colunas_numericas].describe()

# Exibe como tabela
resumo_estatisticas

,id,ano_nascimento,salario_anual,filhos_em_casa,adolescentes_em_casa,dias_desde_ultima_compra,gasto_com_eletronicos,gasto_com_brinquedos,gasto_com_moveis,gasto_com_utilidades,...,numero_de_compras_na_loja,numero_visitas_website_mes,ano_cadastro,mes_cadastro,dia_cadastro,semana_cadastro,idade,gasto_total,total_compras,engajamento_em_campanhas
count,1981.000000,1981.000000,1981.000000,1981.00000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.00000,...,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000
mean,5611.730944,1968.796567,52290.852600,0.44523,0.502776,43.647653,304.747097,26.347299,164.696113,37.65371,...,5.804644,5.329127,2021.040888,4.763756,6.437658,17.940434,56.203433,603.816759,14.848561,0.505300
std,3262.015748,11.981657,25484.701911,0.53433,0.539938,25.819537,338.425386,40.320465,222.047621,54.83439,...,3.275205,2.440340,1.646497,2.905015,3.497441,12.968941,11.981657,599.930106,7.678600,1.049096
min,0.000000,1893.000000,1730.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,2018.000000,1.000000,1.000000,1.000000,29.000000,5.000000,0.000000,0.000000
25%,2811.000000,1959.000000,35196.000000,0.00000,0.000000,22.000000,23.000000,1.000000,16.000000,3.00000,...,3.000000,3.000000,2020.000000,3.000000,3.000000,9.000000,48.000000,68.000000,8.000000,0.000000
50%,5491.000000,1970.000000,51766.000000,0.00000,0.000000,45.000000,176.000000,8.000000,68.000000,12.00000,...,5.000000,6.000000,2021.000000,4.000000,6.000000,14.000000,55.000000,397.000000,15.000000,0.000000
75%,8486.000000,1977.000000,68281.000000,1.00000,1.000000,66.000000,504.000000,32.000000,227.000000,50.00000,...,8.000000,7.000000,2023.000000,7.000000,10.000000,27.000000,66.000000,1040.000000,21.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.00000,2.000000,88.000000,1493.000000,199.000000,1725.000000,259.00000,...,13.000000,20.000000,2023.000000,12.000000,12.000000,52.000000,132.000000,2525.000000,44.000000,5.000000

### Detec√ß√£o de Outliers

In [31]:
outliers = {}

for col in colunas_numericas:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    # Identifica outliers
    outlier_mask = (df[col] < limite_inferior) | (df[col] > limite_superior)
    outliers[col] = df[col][outlier_mask]

    print(f"\nColuna: {col}")
    print(f"Outliers detectados: {outlier_mask.sum()}")
    print(f"Valores extremos: {df[col][outlier_mask].unique()}")

Coluna: id
Outliers detectados: 0
Valores extremos: []

Coluna: ano_nascimento
Outliers detectados: 2
Valores extremos: [1893 1899]

Coluna: salario_anual
Outliers detectados: 7
Valores extremos: [157146. 160803. 666666. 162397. 157733. 153924. 156924.]

Coluna: filhos_em_casa
Outliers detectados: 0
Valores extremos: []

Coluna: adolescentes_em_casa
Outliers detectados: 0
Valores extremos: []

Coluna: dias_desde_ultima_compra
Outliers detectados: 0
Valores extremos: []

Coluna: gasto_com_eletronicos
Outliers detectados: 33
Valores extremos: [1285. 1248. 1296. 1462. 1478. 1302. 1239. 1349. 1308. 1230. 1332. 1253.
 1394. 1276. 1288. 1493. 1311. 1486. 1492. 1259. 1241. 1245. 1459. 1379.
 1298. 1315. 1396. 1324. 1449.]

Coluna: gasto_com_brinquedos
Outliers detectados: 223
Valores extremos: [104. 130.  80.  82. 174. 169. 107. 105.  81.  96.  86. 193.  83. 148.
 103. 142.  97. 117. 134. 153. 106.  88. 133.  99. 129.  93. 185.  79.
 162. 168.  98. 172. 140. 194.  91. 183. 151. 197. 178. 189. 102. 155.
 115.  90. 114. 199. 154. 123. 108. 137. 120.  84. 112. 160. 159. 111.
 147. 143. 161. 144. 181.  89. 132. 138. 184. 122.  85. 149. 152. 100.
 164. 101.  87.  92. 166. 126. 124. 190. 131. 163.]

Coluna: gasto_com_moveis
Outliers detectados: 163
Valores extremos: [ 706.  816.  981.  653.  780.  559.  547.  849.  560.  751.  785.  678.
  786.  592.  898.  694.  873.  594.  569.  732.  548.  850.  651. 1725.
  697.  687.  622.  731.  804.  842.  599.  570.  565.  670.  575.  689.
  673.  733.  827.  590. 1622.  711.  812.  545.  797.  649.  549.  573.
  558.  572.  915.  890.  754.  761.  835.  853.  555.  625.  925.  690.
  562.  655.  595.  951.  845.  601.  779.  792.  860.  818.  561.  631.
  929.  974.  753.  617.  708.  921.  746.  613.  704.  639. 1607.  550.
  597.  604.  815.  961.  546.  567.  749.  553.  607.  843.  790.  899.
  614.  883.  640.  768.  554.  685.  568.  672.  935.  747.  713.  740.
  611.  591.  724.  602.  756.  758.  603.  750.  586.  693.  674.  940.
  606.  716.  913.  717.  735.  932.  813.  654.  984.  612.  629.]

Coluna: gasto_com_utilidades
Outliers detectados: 198
Valores extremos: [240. 138. 189. 224. 150. 134. 193. 180. 140. 137. 168. 205. 172. 229.
 259. 127. 130. 145. 218. 247. 124. 185. 182. 160. 136. 175. 162. 216.
 142. 207. 192. 123. 166. 201. 169. 219. 125. 151. 242. 234. 253. 258.
 227. 188. 128. 141. 250. 159. 121. 232. 184. 179. 158. 153. 171. 202.
 173. 132. 164. 197. 210. 199. 181. 237. 129. 156. 149. 167. 231. 220.
 212. 198. 208. 133. 254. 177. 246. 223. 146. 186. 225. 147.]

Coluna: gasto_com_alimentos
Outliers detectados: 218
Valores extremos: [189.  98. 197.  89. 172. 160.  92. 138. 167. 178.  99. 101. 123.  82.
  96. 176. 128. 151. 133. 134. 148. 262.  97. 121. 142. 198.  83. 149.
 175. 162. 137.  94. 114. 102. 141. 110. 152. 112. 115.  85. 126. 163.
  91.  95. 120. 116. 125. 144. 122. 106.  88. 185. 130. 107. 143. 105.
 111. 108. 179. 118.  93. 103.  84. 161. 147. 194. 192. 109. 150.  86.
 153. 165. 187. 132. 191. 174.  87. 196. 157. 169. 136. 139. 100. 129.
 166. 173. 188. 182. 156.]

Coluna: gasto_com_vestuario
Outliers detectados: 189
Valores extremos: [218. 321. 197. 172. 125. 262. 129. 145. 143. 168. 150. 128. 148. 191.
 147. 181. 135. 160. 153. 130. 133. 152. 134. 140. 138. 166. 241. 157.
 219. 231. 183. 205. 177. 192. 246. 127. 144. 141. 248. 196. 139. 190.
 174. 170. 182. 169. 233. 146. 198. 176. 171. 242. 158. 232. 227. 203.
 142. 200. 224. 207. 154. 216. 151. 132. 223. 137. 247. 163. 126. 149.
 162. 185. 204. 173. 245. 195. 161. 131. 187. 215. 159. 249. 210. 180.
 178. 229.]

Coluna: numero_de_compras_com_desconto
Outliers detectados: 77
Valores extremos: [12  7 11  9  8 10 15 13]

Coluna: numero_de_compras_na_web
Outliers detectados: 2
Valores extremos: [25 27]

Coluna: numero_de_compras_via_catalogo
Outliers detectados: 18
Valores extremos: [11 28]

Coluna: numero_de_compras_na_loja
Outliers detectados: 0
Valores extremos: []

Coluna: numero_visitas_website_mes
Outliers detectados: 8
Valores extremos: [17 14 19 20]

Coluna: ano_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: mes_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: dia_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: semana_cadastro
Outliers detectados: 0
Valores extremos: []

Coluna: idade
Outliers detectados: 2
Valores extremos: [132 126]

Coluna: gasto_total
Outliers detectados: 3
Valores extremos: [2525. 2524.]

Coluna: total_compras
Outliers detectados: 2
Valores extremos: [44 43]

Coluna: engajamento_em_campanhas
Outliers detectados: 410
Valores extremos: [2 3 5 4]

### Tratamento de Outliers

In [32]:
# Localiza registros com ano de nascimento incoerente
df_outliers_nascimento = df[df['ano_nascimento'] < 1920]
print(df_outliers_nascimento[['id', 'idade', 'ano_nascimento']])

        id  idade  ano_nascimento
513  11004    132            1893
827   1150    126            1899

In [33]:
# Remo√ß√£o dos registros de idade incoerente
df_sem_nulos = df.shape[0]
df = df.drop(df_outliers_nascimento.index)
df_sem_ano_incoerente = df.shape[0]
print(f'Foram removidas {df_sem_nulos - df_sem_ano_incoerente} linhas com idade incoerente.')

Foram removidas 2 linhas com idade incoerente.

### Salvamento do Dataset Limpo

In [34]:
print(f'Tamanho inicial do DataFrame: {df_inicial} linhas')
print(f'Tamanho final do DataFrame: {df.shape[0]} linhas')
print(f'Total de linhas removidas: {df_inicial - df.shape[0]} linhas')

porcentagem = (df_inicial - df.shape[0]) / df_inicial * 100
print(f'Porcentagem de linhas removidas: {porcentagem: .2f} %')

Tamanho inicial do DataFrame: 2000 linhas
Tamanho final do DataFrame: 1979 linhas
Total de linhas removidas: 21 linhas
Porcentagem de linhas removidas:  1.05 %

In [35]:
# Visualizar o dataset final
display(pd.DataFrame({"Linhas": [df.shape[0]], "Colunas": [df.shape[1]]}))
print("\n")
df.info()
print("\n")
display(df.head(3))

   Linhas  Colunas
0    1979       40

<class 'pandas.core.frame.DataFrame'>
Index: 1979 entries, 0 to 1999
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1979 non-null   int64
 1   ano_nascimento                  1979 non-null   int64
 2   escolaridade                    1979 non-null   object
 3   estado_civil                    1979 non-null   object
 4   salario_anual                   1979 non-null   float64
 5   filhos_em_casa                  1979 non-null   int64
 6   adolescentes_em_casa            1979 non-null   int64
 7   data_cadastro                   1979 non-null   datetime64[ns]
 8   dias_desde_ultima_compra        1979 non-null   int64
 9   gasto_com_eletronicos           1979 non-null   float64
 10  gasto_com_brinquedos            1979 non-null   float64
 11  gasto_com_moveis                1979 non-null   float64
 12  gasto_com_utilidades            1979 non-null   float64
 13  gasto_com_alimentos             1979 non-null   float64
 14  gasto_com_vestuario             1979 non-null   float64
 15  numero_de_compras_com_desconto  1979 non-null   int64
 16  numero_de_compras_na_web        1979 non-null   int64
 17  numero_de_compras_via_catalogo  1979 non-null   int64
 18  numero_de_compras_na_loja       1979 non-null   int64
 19  numero_visitas_website_mes      1979 non-null   int64
 20  compra_na_campanha_1            1979 non-null   object
 21  compra_na_campanha_2            1979 non-null   object
 22  compra_na_campanha_3            1979 non-null   object
 23  compra_na_campanha_4            1979 non-null   object
 24  compra_na_campanha_5            1979 non-null   object
 25  comprou                         1979 non-null   object
 26  pais                            1979 non-null   object
 27  ano_cadastro                    1979 non-null   int64
 28  mes_cadastro                    1979 non-null   int64
 29  mes_nome_cadastro               1979 non-null   object
 30  dia_cadastro                    1979 non-null   int64
 31  dia_semana_cadastro             1979 non-null   object
 32  semana_cadastro                 1979 non-null   int64
 33  idade                           1979 non-null   int64
 34  faixa_et√°ria                    1979 non-null   category
 35  filhos                          1979 non-null   object
 36  gasto_total                     1979 non-null   float64
 37  total_compras                   1979 non-null   int64
 38  comprou_em_campanha             1979 non-null   object
 39  engajamento_em_campanhas        1979 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(8), int64(17), object(13)
memory usage: 620.6+ KB

,id,ano_nascimento,escolaridade,estado_civil,salario_anual,filhos_em_casa,adolescentes_em_casa,data_cadastro,dias_desde_ultima_compra,gasto_com_eletronicos,...,dia_cadastro,dia_semana_cadastro,semana_cadastro,idade,faixa_et√°ria,filhos,gasto_total,total_compras,comprou_em_campanha,engajamento_em_campanhas
0,2795,1958,Mestrado,Solteiro,30523.0,2,1,2020-01-07,0,5.0,...,7,Ter√ßa-feira,2,67,60+,Sim,13.0,4,N√£o,0
1,2285,1954,Mestrado,Casado,36634.0,0,1,2023-12-05,0,213.0,...,5,Ter√ßa-feira,49,71,60+,Sim,335.0,15,N√£o,0
2,115,1966,Mestrado,Solteiro,43456.0,0,1,2023-02-03,0,275.0,...,3,Sexta-feira,5,59,46-60,Sim,393.0,17,N√£o,0

In [36]:
# Salvamento condicional
output_path = '/content/drive/MyDrive/Estudos/Dados/Marketing/dados_marketing_limpo.csv'
output_dir = os.path.dirname(output_path)

if not os.path.exists(output_dir):
    os.makedirs(output_dir)

df.to_csv(output_path, index=False, encoding='utf-8')
print(f'Dataset limpo salvo em: {output_path}')

Dataset limpo salvo em: /content/drive/MyDrive/Estudos/Dados/Marketing/dados_marketing_limpo.csv